<!DOCTYPE html>
<html lang="en">

    {% load static %}
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    
    <title>Lajme</title>
</head>
<body>
   <div id="logo">LOGO</div>
   <div id="nav">
       <div id="search">
            <form autocomplete="off">
                <input type="text" name="search" placeholder="Kerko..">
            </form>
        </div>
       <div id="kategorite">
           <span>Aktualitet</span>
           <span>Politike</span>
           <span>Ekonomi</span>
           <span>Opinion</span>
           <span>Sporti</span>
           <span>Kulture</span>
       </div>
       <div id="llogaria">
           <span>
               <img src="user.png" width="34px">
           </span>
       </div>
   </div>

   <div class="container">
       <div class="col-1">
            <div class="carusel">
                <div id="imgBox">
                    <img src="saranda.jpeg">
                    <span id="back">&#60</span>
                    <span id="forward">></span>
                </div>
                <div id="imgnumber">
                    <span>1</span>
                    <span>2</span>
                    <span>3</span>
                    <span>4</span>
                    <span>5</span>
                    <span>6</span>
                    <span>7</span>
                    <span>8</span>
                    <span>9</span>
                    <span>10</span>
                </div>
            </div>
            <div class="description-window">
                <div id="description">
                    <section>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam architecto
                    </section>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat laudantium consequatur harum incidunt aut quos possimus ea necessitatibus, sint quidem quis nesciunt illo maiores facere pariatur corporis iure soluta eius.                    
                    </p>
                    <span>Lexoje</span>
            </div>
            </div>    
        </div>    
       <div class="col-2"></div>
   </div>

</body>
</html>